* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    max-width: 90%;
    margin: auto;
    background: #bdbdbd;
    margin-top: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header nav {
    background: #000;
    max-width: 100%;
    padding: 10px 0px;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    display: inline;
    margin: 0 10px;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;    
    padding: 5px 130px;
    background: #4a4646;
}
div{
    background: #4A4646;
    background-image: url(img/logorazerdiv.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    padding: 50px;
}

.info h2{
    color: white;
}

footer {
    background: #333333;
    color: white;
    text-align: right;
    font-size: 14px;
    padding: 20px;
}

